<h1 class="cover-heading">Bienvenido a la web de Utilidades</h1>
<p class="lead">
    <%= link_to 'Generar un código QR', {controller: 'codes', action: 'new'}, class: 'btn btn-lg btn-secondary' %>
</p>